---
layout: layout
<!-- permalink: /abc/ -->
---

<div class="homepage-header">
  <div class="container">
    <a class="homepage-header-logo" href="/"></a>
    <a class="homepage-ol-home" href="http://ownlocal.com" target="_blank"><span class="desktop-only">ownLocal.com</span><span class="mobile-only">Homepage</span></a>
  </div>
</div>

<div class="homepage-hero table" style="background-image: url('/assets/images/products/platform/hero-01a.jpg');">
  <div class="table-cell-middle">
    <div class="container">
      <h2>Meet our<br>SEO machine.</h2>
      <p>Introducing the OwnLocal Platform — the first truly automated digital ad platform for local media.</p>
      <div class="hero-buttons">
        <a class="desktop-only" href="/platform?website=local.tennessean.com&fullscreen=false&desktop-only=false"><span>See Demo</span></a>
        <a class="mobile-only" href="http://local.tennessean.com" target="_blank"><span>See Demo</span></a>
        <a class="minimal hero-to-content"><span>More Demos</span></a>
        <div class="clear"></div>
      </div>    
    </div>
  </div>
</div>

<div class="container">
  
  <div id="products" class="home-grid grid">

    <img class="share-image" src="/assets/images/products/platform/share-image-small.jpg">
    
    <h2><span>Product Demos</span></h2>

    {% for product in site.products %}
      <a href="{{ product.devices_path }}" class="grid-item opacity-transition opacity-transition-nine desktop-only {{ product.class }}">
        <div class="grid-image" style="background-image: url('{{ product.image_path }}')"></div>
        <div class="grid-content">
          <h3>{{ product.title }}</h3>
        </div>
      </a>
      <a href="{{ product.target_path }}" class="grid-item opacity-transition opacity-transition-nine mobile-only {{ product.class }}" target="_blank">
        <div class="grid-image" style="background-image: url('{{ product.image_path }}')"></div>
        <div class="grid-content">
          <h3>{{ product.title }}</h3>
        </div>
      </a>
    {% endfor %}

    <div class="clear"></div>

    <h2><span>Prototypes</span></h2>

    {% for prototype in site.prototypes %}
      <a href="{{ prototype.devices_path }}" class="grid-item opacity-transition opacity-transition-nine desktop-only {{ prototype.class }}">
        <div class="grid-image" style="background-image: url('{{ prototype.image_path }}')"></div>
        <div class="grid-content">
          <h3>{{ prototype.title }}</h3>
        </div>
      </a>
      <a href="{{ prototype.target_path }}" class="grid-item opacity-transition opacity-transition-nine mobile-only {{ prototype.class }}" target="_blank">
        <div class="grid-image" style="background-image: url('{{ prototype.image_path }}')"></div>
        <div class="grid-content">
          <h3>{{ prototype.title }}</h3>
        </div>
      </a>
    {% endfor %}

    <div class="clear"></div>
    
    <h2><span>International Demos</span></h2>
    
    <div class="flags">
<!--
      <a href="#" class="opacity-transition opacity-transition-nine"><icon style="background-image: url('/assets/images/flags/united-states.svg'); background-position: top left;"></icon><span>United States</span></a>
      <a href="#" class="opacity-transition opacity-transition-nine"><icon style="background-image: url('/assets/images/flags/united-kingdom.svg')"></icon><span>United Kingdom</span></a>
      <a href="#" class="opacity-transition opacity-transition-nine"><icon style="background-image: url('/assets/images/flags/canada.svg')"></icon><span>Canada</span></a>
      <a href="#" class="opacity-transition opacity-transition-nine"><icon style="background-image: url('/assets/images/flags/australia.svg');  background-position: top left;"></icon><span>Australia</span></a>
      <a href="#" class="opacity-transition opacity-transition-nine"><icon style="background-image: url('/assets/images/flags/mexico.svg')"></icon><span>Mexico</span></a>
-->
      <a href="/platform?website=demos.ownlocal.com/platform/es-mx/business&fullscreen=false&desktop-only=false" class="opacity-transition opacity-transition-nine desktop-only"><icon style="background-image: url('/assets/images/flags/mexico.svg')"></icon><span>Mexico</span></a>
      <a href="/platform/es-mx/business" class="opacity-transition opacity-transition-nine mobile-only" target="_blank"><icon style="background-image: url('/assets/images/flags/mexico.svg')"></icon><span>Mexico</span></a>
      <a href="/platform?website=demos.ownlocal.com/platform/de-de/business&fullscreen=false&desktop-only=false" class="opacity-transition opacity-transition-nine desktop-only"><icon style="background-image: url('/assets/images/flags/germany.svg')"></icon><span>Germany</span></a>
      <a href="/platform/de-de/business" class="opacity-transition opacity-transition-nine mobile-only" target="_blank"><icon style="background-image: url('/assets/images/flags/germany.svg')"></icon><span>Germany</span></a>
      <a href="/platform?website=demos.ownlocal.com/platform/de-at/business&fullscreen=false&desktop-only=false" class="opacity-transition opacity-transition-nine desktop-only"><icon style="background-image: url('/assets/images/flags/austria.svg')"></icon><span>Austria</span></a>
      <a href="/platform/de-at/business" class="opacity-transition opacity-transition-nine mobile-only" target="_blank"><icon style="background-image: url('/assets/images/flags/austria.svg')"></icon><span>Austria</span></a>
      <a href="/platform?website=demos.ownlocal.com/platform/es-sv/business&fullscreen=false&desktop-only=false" class="opacity-transition opacity-transition-nine desktop-only"><icon style="background-image: url('/assets/images/flags/el-salvador.svg')"></icon><span>El Salvador</span></a>
      <a href="/platform/es-sv/business" class="opacity-transition opacity-transition-nine mobile-only" target="_blank"><icon style="background-image: url('/assets/images/flags/el-salvador.svg')"></icon><span>El Salvador</span></a>
      <div class="clear"></div>      
    </div>

  </div>
  
  <div class="footer">
    <div class="container">
      © {{ 'now' | date: '%Y' }} <a href="http://ownlocal.com" target="_blank"><span>OwnLocal</span></a>, Inc.
    </div>
  </div>
  
</div>


