<div class="header">
  <div class="container">
    <a href="/" class="pixel-tree header-element opacity-transition"><img src="/assets/images/pixel-tree.png"></a>
    <div class="navigation header-element">
      <span class="opacity-transition">{{ page.title }}</span>
      <ul>
        <li><a class="opacity-transition" href="/platform">Platform</a></li>
        <li><a class="opacity-transition" href="/platform/widget">Widget</a></li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</div>