<div id="content" class="business-content">
  <div class="hero-map">
    <div ol-widgets-map id="business-map" no-zoom-to-markers="true" style="width:100%; height:100%" tile-layer="https://igexternal-a.akamaihd.net/map_tile.php?x={x}&y={y}&z={z}&size=512&ppi=250" zoom="12"            latitude="41.0754" longitude="-81.5146">
      <ol-widgets-map-marker latitude="41.0754" longitude="-81.5146"></ol-widgets-map-marker>
    </div>
  </div>
  <div class="container" id="content-top">
    <h1><a>{{ site.countries[page.country].business_name }}</a></h1>
    <p class="category"><a>{{ site.countries[page.country].business_category }}</a> / <a>{{ site.countries[page.country].business_subcategory }}</a></p>
    <div id="more-info">
      <p class="with-icon address">{{ site.countries[page.country].business_address_one }}<span class="no-responsive">,</span> <span class="no-full"><br></span> {{ site.countries[page.country].business_address_two }}</p>
      <p class="with-icon phone no-responsive">{{ site.countries[page.country].business_phone }}</p>
    </div>
    <div id="calls-to-action">
      <a id="cta-call-button" class="call-button no-full" data-phone="3309454386" href="tel:3309454386">Call</a>
      <div class="mdl-tooltip" for="cta-call-button">{{ site.locales[page.locale].call }} {{ site.countries[page.country].business_phone }}</div>
      <a id="cta-directions-button" class="directions-button" href="https://maps.google.com?daddr={{ site.countries[page.country].business_address_one }}+{{ site.countries[page.country].business_address_two }}" target="_blank">Directions</a>
      <div class="mdl-tooltip" for="cta-directions-button">Get directions to this<br>location on Google Maps.</div>
      <a class="website-button" href="http://{{ site.countries[page.country].business_website }}" id="cta-website-button" target="_blank">Website</a>
      <div class="mdl-tooltip" for="cta-website-button">Open website<br>in new tab.</div>
      <a class="share-button" id="cta-share-box">Share</a>
      <div class="mdl-tooltip" for="cta-share-box">Share this business<br>on social media.</div>
      <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect share-box" for="cta-share-box">
        <li class="mdl-menu__item" disabled>Share this business on:</li>
        <li class="mdl-menu__item">
          <a class="share-facebook" href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank"><i class="material-icons social-icons facebook"></i>Facebook</a>
        </li>
        <li class="mdl-menu__item">
          <a class="share-twitter" href="https://twitter.com/intent/tweet?text=Check%20out%20Ticketmaster%20in%20Akron%20-%20" target="_blank"><i class="material-icons social-icons twitter"></i>Twitter</a>
        </li>
        <li class="mdl-menu__item">
          <a class="share-email" href="mailto:?subject=Check%20out%20Ticketmaster%20in%20Akron&amp;body=" target="_blank"><i class="material-icons">email</i>Email</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div id="main-column" class="column">
      <h3>About</h3>
      <p>At Ticketmaster, we strive to put fans first. Every day we're listening to your feedback and working to improve your experience before, during, and after events. In 2010, Ticketmaster and Live Nation merged to create Live Nation Entertainment. Now you have more options than ever to enjoy live events, and things are only getting better.</p>
    </div>
    <div id="sidebar" class="column">
      <h3>Related Businesses</h3>
      <div class="helpful-links">
        <span><a href="#">Bastrop Opera House</a></span>
        <span><a href="#">Bridge Center of Austin</a></span>
        <span><a href="#">One World Theatre</a></span>
        <span><a href="#">The Shen Yun Orchestra</a></span>
        <span><a href="#">Esthers Follies</a></span>
      </div>
      <h3>Follow Us</h3>
      <div class="facebook-box"><iframe src='https://www.facebook.com/v2.5/plugins/page.php?adapt_container_width=true&width=300&hide_cover=false&href=https%3A%2F%2Ffacebook.com%2FTicketmaster%2F&show_facepile=true'></iframe></div>
    </div>
    <div class="clear"></div>
  </div>
</div>