* { box-sizing: border-box; outline: 0 none; margin: 0; padding: 0; line-height: 1.5; }
html { font-family: sans-serif; -webkit-text-size-adjust: 100%; }
body { -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; font-family: -apple-system, BlinkMacSystemFont, 'Roboto'; letter-spacing: -0.2px; }