@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Montserrat:400|Merriweather:400,400i|Varela+Round|Material+Icons');
@keyframes opacity-animation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes opacity-translate-animation {
  0% { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: none; }
}

* { box-sizing: border-box; outline: 0 none; margin: 0; padding: 0; -webkit-tap-highlight-color: rgba(0,0,0,0); }
html { -webkit-text-size-adjust: 100%; }
body { -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; background: white; font-family: 'Roboto', -apple-system, BlinkMacSystemFont; letter-spacing: -0.2px; margin: 0; padding: 0; font-size: 18px; line-height: 2; color: #54575A; position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow-x: hidden; animation-name: opacity-animation; animation-duration: 2s; }

a { text-decoration: none; color: #008CDD; cursor: pointer; }
a span { border-bottom: 1px solid transparent; transition: all 0.3s ease; }
a:hover span { border-bottom-color: #008CDD; }

h1, h2, h3, h4, h5, h6, p, ul { margin-bottom: 15px; }
h1 { font-weight: bold; font-size: 52px; line-height: 1; margin: 0 0 30px; letter-spacing: -0.5px; }
h2 { font-weight: 500; font-size: 40px; line-height: 1.1; margin: 0 0 20px; letter-spacing: -0.5px; }
h4 { color: rgba(75,89,102,0.8); text-transform: uppercase; font-size: 14px; font-weight: 600; margin: 20px 0 10px; }
form { padding-top: 5px; }
.clear { clear: both; }
.container { width: 100%; width: calc(100% - 40px); max-width: 1024px; margin: 0 auto; position: relative; }
.float--left { float: left; }
.float--right { float: right; }
.overflow--hidden { overflow: hidden; }
.text-aligned--left { text-align: left; }
.text-aligned--center { text-align: center; }
.text-aligned--right { text-align: right; }
.table { display: table; width: 100%; height: 100%; }
.table-cell { display: table-cell; vertical-align: middle; }

.header { height: 60px; }
.header a { color: inherit;}
.header .logo { display: block; height: 60px; opacity: 0.7; float: left; }
.header .logo img { display: block; max-width: 300px; max-height: 30px; position: relative; top: 50%; left: 50%; -ms-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); }
.header .media-kit-home { float: left; color: #7E8082; font-weight: 300; padding: 0 20px; margin-left: 20px; border-left: 1px solid #F9F8F6; line-height: 60px; }
.header .media-kit-home span { border-bottom: 1px solid transparent; padding-bottom: 2px; transition: all 0.3s ease; }
.header .media-kit-home:hover span { border-bottom: 1px solid rgba(126, 128, 130, 0.7); }
.header .nav-toggle { position: absolute; top: 50%; right: 0; display: block; margin: -12px 0 0; }
.header .nav-toggle i { display: block; }

.hero { background: #F9F8F6; background: linear-gradient(-270deg, #FBFAFA 17%, #F3F4F6 99%); position: relative; width: 100%; height: calc(100% - 60px); min-height: 600px; margin: 0 0 40px; overflow: hidden; animation-duration: 1s; animation-name: opacity-animation; }

.hero-box { position: absolute; left: 50%; margin: calc(-340px/2) 0 0 -510px; top: 50%; width: 420px; font-size: 20px; z-index: 100; }
.hero-box h1, .hero-box p, .hero-box button { animation-duration: 1s; animation-fill-mode: forwards; animation-name: opacity-translate-animation; backface-visibility: hidden; opacity: 0; }
.hero-box h1 { animation-delay: 0.9s; }
.hero-box p { animation-delay: 1.1s; }
.hero-box button { animation-delay: 1.3s; }
.hero-box p { line-height: 1.5; margin: 0 auto 30px; max-width: 500px; color: #7E8082; font-size: 21px; }
.hero-box button { -webkit-appearance: none; background: #FFB21A; background: #BBBBBB; border: 0 none; border-radius: 5px; color: white; padding: 15px 20px; font: 400 16px/1 'Montserrat'; text-transform: uppercase; margin: 0 20px 0 0; outline: 0 none; cursor: pointer; min-width: 140px; box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.12) inset, 0 0 2px rgba(0, 0, 0, 0.08), 0 4px 6px rgba(0, 0, 0, 0.08), 0 12px 16px rgba(0, 0, 0, 0.08); transition: all 0.3s ease; }
.hero-box button.sign-up { background: #60A0E7; color: white; }
.hero-box button:hover { transform: translateY(-2px); }

.hero .devices-wrapper { position: absolute; width: 1024px; height: 630px; top: 50%; left: 50%; margin: -305px 0 0 -40px; -ms-transform: scale(0.95); transform: scale(0.95); z-index: 100; }
.device { background: linear-gradient(rgb(247, 251, 254) 0%, rgb(221, 226, 232) 100%); box-shadow: rgb(255, 255, 255) 0px 4px 7px 1px inset, rgba(187, 200, 225, 0.34902) 0px -5px 20px inset, rgba(40, 39, 66, 0.137255) 0px 2px 6px, rgba(40, 39, 66, 0.0588235) 0px 10px 20px, rgba(0, 0, 0, 0.14902) 0px 36px 79px -1px; position: relative; display: inline-block; position: absolute; top: 35px; }
.device-header { position: absolute; background: white; z-index: 100; background: white; overflow: hidden; pointer-events: none; text-align: left; }
.device.no-device-header .device-header { display: none; }
.iphone { width: 280px; height: 510px; top: 85px; border-radius: 30px; padding: 60px 12px 70px; left: 0; transform: rotate(-5deg); z-index: 10; }
.iphone .device-header { width: calc(100% - 100px); height: 38px; top: 60px; left: 20px; }
.iphone:before { content: ''; width: 58px; height: 10px; position: absolute; top: 28px; left: calc(50% - 29px); border-radius: 10px; background: rgba(0, 0, 0, 0.0784314); }
.iphone:after { content: ''; width: 44px; height: 44px; position: absolute; right: 23px; border-radius: 50%; background: rgba(0, 0, 0, 0.0470588); bottom: 14px; left: calc(50% - 22px); }
.ipad { width: 830px; height: 560px; border-radius: 40px; padding: 15px 85px; right: 0; transform: rotate(5deg); }
.ipad .device-header { width: calc(100% - 250px); height: 38px; top: 15px; left: 90px; }
.ipad .device-header .device-logo { padding-left: 5px; }
.ipad:after { content: ''; width: 44px; height: 44px; border-radius: 50%; background: rgba(0,0,0,.05); position: absolute; top: calc(50% - 22px); right: 23px; }
.device .mask { height: 100%; width: 100%; box-shadow: rgba(107, 124, 147, 0.45098) -1px 1px 4px; overflow: hidden; border-radius: 8px; background: white; }
.laptop { width: 800px; height: 520px; background: linear-gradient(180deg,#f7fbfe 0,#dde2e8); border-radius: 18px; position: relative; box-shadow: inset 0 2px 7px 1px hsla(0,0%,100%,.5), inset 0 -5px 20px rgba(187,200,225,.35), 0 2px 6px rgba(40,39,66,.14), 0 10px 20px rgba(40,39,66,.06), 76px 75px 169px -35px rgba(0,0,0,.4); padding: 28px; margin: 0 auto 90px; }
.laptop .device-header { width: calc(100% - 250px); height: 38px; top: 30px; left: 35px; }
.laptop .device-header .device-logo { padding-left: 5px; }
.laptop:before, .laptop:after { content: ''; position: absolute; border-radius: 3px 3px 0 0; width: calc(100% + 200px); height: 10px; background: linear-gradient(90deg,#f6fafd 0,#dde2e9 6%,#f6fafd 15%,#f6fafd 42%,#e6e6e6 0,#f6fafd 45%,#f6fafd 53%,#e6e6e6 56%,#f6fafd 0,#f6fafd 85%,#dde2e9 94%,#f6fafd); left: -100px; bottom: -5px; }
.laptop:after { height: 6px; bottom: -11px; border-radius: 0 0 40px 40px; background: #dde2e9; box-shadow: inset 0 -25px 10px -20px rgba(0,0,0,.5); }
.laptop .mask { height: 100%; width: 100%; overflow: hidden; border-radius: 8px; box-shadow: -1px 1px 4px rgba(107,124,147,.45); background: #fff; }
.device-logo { display: inline-block; border: 0 none; padding: 0 10px 0 0; border: 0 none; position: relative; height: 40px; line-height: 40px; opacity: 0.8; width: auto; max-width: calc(100% - 80px); white-space: nowrap; box-sizing: border-box; }
.device-logo img { width: auto; height: auto; max-height: calc(100% - 20px); max-width: 90px; border: 0 none; background: transparent; opacity: 0.9; }
.device-logo:after { content: 'Directory'; border-left: 1px solid rgba(0, 0, 0, 0.05); width: auto; height: 40px; white-space: nowrap; font-weight: 300; display: inline-block; position: absolute; top: 0; color: rgba(75, 89, 102, 0.8); font-size: 12px; line-height: 38px; padding-left: 14px; margin-left: 10px; font-family: -apple-system, BlinkMacSystemFont, sans-serif; }
.mask img { width: 100%; display: block; position: relative; }
.mask iframe { width: 100%; height: 100%; position: absolute; top: 0; left: 0; overflow: hidden; border: 0 none; }

.section { position: relative; padding: 90px 0 60px; }
.section:nth-child(even) { background: #F3F4F6; }
.about { padding-top: 50px; }
.section h2 { margin: 0 0 30px; max-width: 800px; }
.section p { line-height: 1.7; margin: 0 0 30px; max-width: 600px; font-size: 21px; opacity: 0.9; }
.section.centered { text-align: center; }
.section.centered h2 { margin-left: auto; margin-right: auto; }
.section.centered p { margin: 0 auto; }

.left-column { float: left; }
.right-column { float: right; }
.large-column { width: calc(100% - 420px); }
.small-column { width: 380px; padding: 40px 40px 0; background: #F9F8F6; box-shadow: 0 1px 5px rgba(0,0,0,0.05); }
.stats { background: #74E484; /* background: linear-gradient(to top left,rgba(73, 195, 201, 0.8),rgba(36, 155, 214, 0.8) 50%,rgba(12, 91, 156, 0.8)); */ color: white; position: relative; }
.stats:before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1)); z-index: 0; opacity: 0.1; } 
.stats h3 { line-height: 1; font-size: 30px; margin: 0 0 30px; border-bottom: 4px solid; display: inline-block; padding: 0 0 15px; letter-spacing: 1px; position: relative; }
.stat { padding: 0 0 40px; width: 100%; cursor: default; position: relative; }
.stat .number { font-size: 48px; line-height: 1; margin: 0 0 15px; }
.stat .label { font-size: 17px; line-height: 1; opacity: 0.9; }

.offerings { margin: 50px 0 -20px; text-align: left; }
.offering { position: relative; padding: 0; margin: 0 0 1px; background: white; box-shadow: 0 1px 5px rgba(0,0,0,0.05); font-size: 17px; line-height: 1.8;  margin: 0 0 50px; overflow: hidden; }
.offering .left { background: black; color: white; padding: 30px; width: 400px; box-shadow: 0 0 5px rgba(0,0,0,0.1); position: relative; z-index: 0; position: absolute; top: 0; left: 0; height: 100%; }
.offering .left:before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1)); z-index: -10; opacity: 0.1; }
.offering:nth-child(1) .left { background: #74E4D7; }
.offering:nth-child(2) .left { background: #A695F9; }
.offering:nth-child(3) .left { background: #F5B7D4; background: #FFCD94; }
.offering .left i { color: white; display: block; margin: 0 0 30px; font-size: 50px; line-height: 1; }
.offering .left .title { font-weight: normal; line-height: 1; font-size: 54px; font-weight: bold; margin: 0; }
.offering .left .title span { display: block; }
.offering .left .description { opacity: 0.9; font-size: 18px; line-height: 1.5; margin: 30px 0 0; }
.offering .right { padding: 30px 30px 0 430px; }
.offering .sub-offering { padding: 0 0 0 60px; position: relative; }
.offering .sub-offering:before { content: "\E5CA"; position: absolute; top: 5px; left: 0; font-family: 'Material Icons'; box-shadow: 0 1px 2px rgba(0,0,0,0.2); width: 30px; height: 30px; text-align: center; line-height: 30px; color: inherit; border-radius: 100%; }
.offering:nth-child(1) .sub-offering:before { color: #74E4D7; }
.offering:nth-child(2) .sub-offering:before { color: #A695F9; }
.offering:nth-child(3) .sub-offering:before { color: #F5B7D4; color: #FFCD94; }
.offering .right .title { font-weight: 500; font-size: 24px; margin: 0 0 5px; line-height: 42px; }
.offering .right p { opacity: 0.9; margin: 0 0 30px; font-size: 16px; }

.form { max-width: 400px; padding: 20px; z-index: 10000; box-shadow: 0 0 8px rgba(0,0,0,0.2); height: 100%; overflow: auto; }
.form .label.required:after { content: " *"; }
.form .styled { -webkit-appearance: none; box-shadow: 0 1px 1px rgba(0,0,0,0.05); border: 1px solid #C9CDCF; padding: 5px 10px; font: 15px/2 'Roboto', Arial; color: #666c70; width: 100%; margin: 0 0 20px; border-radius: 2px; transition: border 0.2s ease; }
.form .styled:focus { border-color: #63B6FF; }
.form input[type=radio] { opacity: 1; }
.form input[type=submit] { -webkit-appearance: none; } 

/* Width < 1064px */
@media screen and (max-width: 1064px) {
  .hero-box { left: 40px; margin-left: 0; }
  .laptop { margin: -20px auto 20px; -ms-transform: scale(0.9); transform: scale(0.9); }
}

/* Width < 1000px */
@media screen and (max-width: 1000px) {
  h1 { font-size: 60px; line-height: 1.1; margin: 0 0 20px; }
  .hero { height: auto; min-height: 500px; padding: 440px 20px 50px; margin: 0; }
  .hero-box { position: relative; top: auto; margin: 0 auto; width: 100%; max-width: 560px; left: 0; text-align: center; }
  .hero-box p { margin: 0 auto 40px; font-size: 17px; max-width: 600px; }
  .hero-box button { margin: 0 10px; }
  .hero .devices-wrapper { top: 0; right: auto; left: 50%; margin: -100px 0 0 -512px; -ms-transform: scale(0.6); transform: scale(0.6); }
  .laptop { -ms-transform: scale(0.7); transform: scale(0.7); display: block; left: 50%; margin: -80px 0 0 -400px; }
  .column p { font-size: 19px; }
  .large-column { width: calc(100% - 380px); }
  .small-column { width: 340px; padding: 20px 20px 5px; }
  .stat { padding: 0 0 30px; }
  .stat .number { font-size: 30px; }
  .stat .label { font-size: 14px; }
  .offering .left { width: 300px; }
  .offering .left i { margin: 0 0 20px; }
  .offering .left .title { font-size: 40px; }
  .offering .left .description { margin-top: 20px; font-size: 17px; }
  .offering .right { padding-left: 330px; }
}

/* Width < 661px */
@media screen and (max-width: 660px) {
  h2 { font-size: 28px; }
  .header .logo img { max-width: 150px; }
  .header .media-kit-home { font-size: 16px; }
  .hero { padding: 255px 20px 20px; margin: 0; }
  .hero-box { max-width: 310px; }
  .hero-box h1 { font-size: 30px; }
  .hero-box p { margin-bottom: 20px; font-size: 16px; }
  .hero-box button { padding: 14px 20px; font-size: 14px; min-width: 130px; display: none; }
  .hero-box button.sign-up { display: inline-block; }
  .hero .devices-wrapper { -ms-transform: scale(0.33); transform: scale(0.33); margin-top: -190px; }
  .section { padding: 40px 0; }
  .section p { font-size: 17px; }
  .column { width: 100%; float: none; }
  .column p { max-width: none; font-size: 17px; margin: 0 0 20px; }
  .laptop { -ms-transform: scale(0.33); transform: scale(0.33); margin: -180px 0 -95px -400px; }
  .stats { float: none; width: 100%; margin-top: 30px; margin-bottom: -10px; }
  .stats h3 { font-size: 24px; }
  .stat { padding: 0 0 30px; width: 100%; }
  .offering { margin: 0 0 20px; }
  .offering .left { width: 100%; position: relative; height: auto; }
  .offering .right { padding: 20px 20px 0; }
  .offering .sub-offering { padding: 0; }
  .offering .right .title { line-height: 45px; padding: 0 0 0 50px; font-size: 20px; }
  .offering .right p { font-size: 15px; }
}

/* Width < 350px */
@media screen and (max-width: 350px) {
  .hero-box h1 { font-size: 26px; }
  .hero-box p { font-size: 13px; }
  .hero-box button { min-width: 120px; margin: 0 7px; font-size: 13px; padding: 13px; }
  .header .logo img { max-width: 100px; }
}