* { box-sizing: border-box; }
html, body { padding: 0; margin: 0; }
body { -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; background: #F8F9FA; font-family: 'Roboto'; color: #4A475A; }
.container { margin: 0 auto; width: 100%; max-width: 1024px; padding: 0; position: relative; }
.opacity-transition { opacity: 0.8; transition: all 0.3s ease; }
.opacity-transition:hover { opacity: 1; }

.header { box-shadow: 0 1px 0 rgba(0,0,0,0.05); background: white; height: 50px; }
.pixel-tree { display: inline-block; height: 50px; padding: 10px 15px; border-right: 1px solid rgba(0,0,0,0.05); }
.pixel-tree img { width: auto; height: 100%; display: block; }
.clear { clear: both; }