* { box-sizing: border-box; outline: 0 none; }
html, body { padding: 0; margin: 0; }
body { -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; background: white; font-family: -apple-system, BlinkMacSystemFont, 'Roboto'; letter-spacing: -0.2px; color: #4A475A; position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
a { text-decoration: none; color: #008CDD; cursor: pointer; }
a span { border-bottom: 1px solid transparent; transition: all 0.3s ease; }
a:hover span { border-bottom-color: #008CDD; }
.container { margin: 0 auto; width: calc(100% - 50px); max-width: 1024px; padding: 0; position: relative; }
.opacity-transition { opacity: 0.8; transition: all 0.3s ease; }
.opacity-transition-nine { opacity: 0.9; }
.opacity-transition:hover { opacity: 1; }
.table { display: table; width: 100%; height: 100%; }
.table-cell-top { display: table-cell; vertical-align: bottom; }
.table-cell-middle { display: table-cell; vertical-align: middle; }
.table-cell-bottom { display: table-cell; vertical-align: bottom; }
.mobile-only { display: none !important; }
.share-image { display: none; }

.header { box-shadow: 0 1px 0 rgba(0,0,0,0.05); background: white; height: 50px; }
.header .container { width: 100%; }
.header a { color: #4A475A; opacity: 0.8; }
.header-element { float: left; line-height: 50px; padding-right: 15px; margin-right: 15px; border-right: 1px solid rgba(0,0,0,0.05); height: 50px; position: relative; }
.pixel-tree { padding: 10px 15px; }
.pixel-tree img { width: auto; height: 100%; display: block; }
.navigation { cursor: pointer; padding-right: 35px; height: 50px; line-height: 52px; z-index: 1000; }
.navigation span { font-weight: 500; text-transform: uppercase; }
.header ul { position: absolute; margin: 0; left: -15px; padding: 0; background: white; box-shadow: 0 1px 1px rgba(0,0,0,0.1); margin-top: -1px; min-width: calc(100% + 15px); max-/* height: 0; */ overflow: hidden; transition: max-height 0.5s ease; }
.header .navigation:hover ul { max-height: 500px; }
.header ul li { display: block; padding: 15px; line-height: 1; border-bottom: 1px solid rgba(0,0,0,0.05); }
.header ul li:last-child { border-bottom: 0 none; }
.navigation:after { content: '\E313'; font-family: 'Material Icons'; position: absolute; top: 0; right: 10px; }
.clear { clear: both; }

.homepage-header { position: absolute; width: 100%; padding: 30px 0; }
.homepage-header-logo { background-image: url('http://www.ownlocal.com/hubfs/OwnLocal_April2016/images/logo.png');  width: 40px; height: 40px; display: block; background-size: auto 100%; background-position: right center; background-repeat: no-repeat; position: relative; }
.homepage-header-logo:after { content: "Demos"; position: absolute; right: -108px; line-height: 1; color: white; font-size: 24px; text-transform: uppercase; font-family: 'Montserrat'; padding-bottom: 2px; border-bottom: 2px solid transparent; top: 9px; transition: all 0.3s ease; }
.homepage-header-logo:hover:after { border-bottom: 2px solid white; }
.homepage-ol-home { position: absolute; right: 0; top: 5px; line-height: 30px; display: inline-block; border: 1px solid white; padding: 0 10px; text-transform: uppercase; color: white; font-size: 12px; font-weight: 700; transition: all 0.3s ease; }
.homepage-ol-home:hover { background: white; color: rgba(75,89,102,0.8); }

.homepage-hero { background-image: url('/assets/images/products/platform/demo-02.jpg'); background-size: cover; background-position: center; color: white; }
.homepage-hero .table-cell-middle { background: rgba(75,89,102,0.5); }
.homepage-hero h2 { font-weight: 700; font-size: 68px; line-height: 1; text-transform: uppercase; max-width: 500px; margin: 30px 0; }
.homepage-hero p { line-height: 1.3; max-width: 500px; font-weight: 300; font-size: 21px; font-family: 'Roboto'; margin: 0 0 40px; }
.homepage-hero .hero-buttons { opacity: 1; }
.homepage-hero .hero-buttons a { display: inline-block; padding: 15px 20px; line-height: 1; background: white; text-transform: uppercase; font-family: 'Montserrat'; font-weight: 400; font-size: 14px; color: rgba(75, 89, 102, 0.8); float: left; transition: all 0.3s ease; }
.homepage-hero .hero-buttons a.minimal { background: transparent; color: white; }
.homepage-hero .hero-buttons a span { border-bottom: 1px solid transparent; transition: all 0.3s ease; }
.homepage-hero .hero-buttons a:hover { opacity: 1; }
.homepage-hero .hero-buttons a:hover span { border-bottom: 1px solid rgba(75,89,102,0.8); }
.homepage-hero .hero-buttons a.minimal:hover span { border-bottom: 1px solid white; }

.grid { margin: 0 -25px 0; padding: 40px 0 0 25px; }
.grid h2 { margin: 0 0 30px; font-weight: 400; color: rgba(75,89,102,0.8); font-size: 22px; line-height: 1; font-family: 'Roboto'; cursor: default; border-bottom: 1px solid rgba(0,0,0,0.05); padding-bottom: 20px; width: calc(100% - 25px); }
.grid h2 span { opacity: 1; }
.grid-item { float: left; width: calc(33.33% - 25px); background: white; margin: 0 25px 40px 0; color: #2f4654; cursor: pointer; position: relative; text-align: center; transition: all 0.3s ease; }
.grid-image { height: 210px; background-size: calc(100% - 40px) auto; background-repeat: no-repeat; background-position: center center; background-color: #F4F4F4; opacity: 0.9; transition: all 0.3s ease; }
.grid-content h3 { font-size: 14px; font-weight: 600; text-transform: uppercase; font-family: -apple-system, BlinkMacSystemFont, 'Montserrat'; display: inline-block; border-bottom: 1px solid transparent; position: absolute; left: 0; bottom: 0; padding: 10px; margin: 15px; background: white; color: rgba(75,89,102,0.9); transition: all 0.3s ease; }
.grid-item:hover { box-shadow: 0 0 8px rgba(0,0,0,0.1); }
.grid-item:hover .grid-image { opacity: 1; }
.grid-item:hover .grid-content h3 { border-bottom-color: rgba(47,70,84,0.8); }

.grid-item.widget .grid-image { background-size: auto 270%; background-position: center -40px; }

.footer .container { padding: 30px 20px 40px; border-top: 1px solid rgba(0,0,0,0.1); width: 100%; text-align: center; cursor: default; opacity: 0.8; }

@media screen and (max-width: 1024px) {
  .desktop-only { display: none !important; }
  .mobile-only { display: block !important; }
}

@media screen and (max-width: 980px) {
  .grid-item { width: calc(50% - 25px); }
  .homepage-hero h2 { font-size: 56px; }
}

@media screen and (max-width: 450px) {
  .grid-item { width: calc(100% - 25px); }
  .homepage-hero h2 { font-size: 40px; }
  .homepage-hero p { font-size: 20px; }
  .homepage-hero .table-cell-middle { vertical-align: bottom; padding-bottom: 30px; }
}

@media screen and (min-height: 851px) {
  .homepage-hero { height: calc(100% - 350px); min-height: 600px; }
}