<!DOCTYPE html>
<html>
  <head>
    
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9907862017294680",
        enable_page_level_ads: true
      });
    </script>
    
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width, user-scalable=no" />
    <title>OwnLocal Demos {% if page.title %} – {{ page.title }}{% endif %}</title>
    <meta property="og:title" content="{% if page.title %}{{ page.title }} – {% endif %}OwnLocal Demos">
    <meta property="og:description" content="OwnLocal helps local media companies power their digital advertising by automatically converting their ads into online marketing.">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300|Montserrat:400,700|Material+Icons' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/images/pixel-tree.png" />
    <link type="text/css" rel="stylesheet" href="/styles/global.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/scripts/global.js"></script>
  </head>
  
  <body class="homepage">
    {{ content }}
  </body>
  
</html>