<!DOCTYPE html>
<html ng-app="localFusionApp">
<head>
  <meta charset="utf-8">
  <meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta content="initial-scale=1, maximum-scale=1, width=device-width, user-scalable=no" name="viewport">
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <title>Demo: {% if page.title %}{{ page.title }}{% endif %}</title>
  <link href="/assets/application.css" media="all" rel="stylesheet" type="text/css">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="Directory" name="apple-mobile-web-app-title">
  <meta content="default" name="apple-mobile-web-app-status-bar-style">
  <link href="/assets/ios-icon.png" rel="apple-touch-icon">
  <link href="/assets/favicon.png" rel="shortcut icon">
</head>
<body class="desktop">
  <div id="nav">
    <div class="close-button">
      <i class="material-icons">close</i>
    </div>
    <ul class="header-links">
      <li class="directory-home">
        <a class="with-icon" {% if page.home %}href="./"{% else %}href="../"{% endif %}><i class="material-icons">home</i>{{ site.languages[page.language].directory_home }}</a>
      </li>
      <li>
        <a class="with-icon" {% if page.home %}href="./business"{% else %}href="../business"{% endif %}><i class="material-icons">business</i>{{ site.languages[page.language].businesses }}</a>
      </li>
      <li>
        <a class="with-icon" {% if page.home %}href="./ad"{% else %}href="../ad"{% endif %}><i class="material-icons">picture_in_picture</i>{{ site.languages[page.language].ads }}</a>
      </li>
      <li>
        <a class="with-icon"><i class="material-icons">layers</i>{{ site.languages[page.language].categories }}</a>
      </li>
      <li class="publisher-url open-in-new-tab">
        <a href="http://{{ site.examples[page.example].publisher_url }}" target="_blank">{{ site.languages[page.language].back_to }} {{ site.examples[page.example].publisher_url }}</a>
      </li>
      <li class="login-url open-in-new-tab">
        <a><span>{{ site.languages[page.language].admin_login }}</span></a>
      </li>
      <li class="add-business">
        <a class="with-icon"><i class="material-icons">add</i>{{ site.languages[page.language].add_business }}</a>
      </li>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="wrapper">
    <div id='header' {% if page.home %}class='home'{% endif %}>
      <div class="container">
        <div class="logo-area">
          <a class="publisher-logo" href="http://{{ site.examples[page.example].publisher_url }}" id="publisher-logo" target="_blank">
          <div class="vertical-helper"></div><img src="/images/lf_examples/{{ site.examples[page.example].publisher_folder_name }}/logo.png"></a>
          <div class="directory-home"><a id="directory-home" {% if page.home %}href="./"{% else %}href="../"{% endif %}>{{ site.languages[page.language].directory }}</a></div>
        </div>
        <div class="mdl-tooltip" for="publisher-logo"><span>{{ site.languages[page.language].back_to }} {{ site.examples[page.example].publisher_url }}</span></div>
        <button class="mdl-button mdl-js-button mdl-button--icon" id="nav-toggle"><i class="material-icons">menu</i></button> <button class="mdl-button mdl-js-button mdl-button--icon" id="search-toggle" title="{{ site.languages[page.language].search_for_businesses }}"><i class="material-icons">search</i></button>

        <div class='header-search'>
          <div class="search-box-wrapper" role='search'>
            <form action="/businesses">
              <input autocomplete="off" class="search" id="searchBox" name="query" placeholder="{{ site.languages[page.language].search_for_businesses }}" type="text">
            </form>
          </div>
        </div>

      </div>
    </div>
    
    {{ content }}
    
    <div id='footer'>
      <div class="container">
        <div class="links">
          <a {% if page.home %}href="./"{% else %}href="../"{% endif %}>{{ site.languages[page.language].home }}</a>|<a>{{ site.languages[page.language].terms_of_service }}</a>|<a>{{ site.languages[page.language].privacy_policy }}</a>|<a class="back-to-top">{{ site.languages[page.language].go_to_top }}</a>
        </div>
        <div class="copyright">© {{ site.time | date: '%Y' }} <a href="http://{{ site.examples[page.example].publisher_url }}">{{ site.examples[page.example].publisher_name }}</a>. {{ site.languages[page.language].powered_by }} <a class="bold-link" href="http://ownlocal.com" target="_blank">OwnLocal</a> {{ site.languages[page.language].footer_text }}.</div>
      </div>
    </div>
  </div>
  <script src="/assets/application.js"></script>
</body>
</html>