.header { text-align: left; margin: 0 0 30px; box-shadow: 0 1px 0 rgba(0,0,0,0.05); padding: 0 0 0 15px; background: white; font-size: 15px; line-height: 50px; white-space: nowrap; box-sizing: border-box; position: absolute; width: 100%; top: 0; left: 0; transition: opacity 0.3s ease; z-index: 1000; }
body.hidden-header .header { opacity: 0; background: transparent; box-shadow: 0 0 0 transparent; }
body.hidden-header .header:hover { opacity: 1; }
body.hidden-header .not-in-fullscreen { display: none; }
.demos-logo { display: inline-block; font-weight: 500; text-transform: uppercase; position: relative; color: #4A475A; padding-left: 45px; opacity: 0.85; transition: all 0.3s ease; cursor: pointer; font-size: 16px; text-decoration: none; outline: 0 none; width: 0px; color: transparent; margin-right: -15px; }
.demos-logo:before { content: ""; position: absolute; width: 30px; height: calc(100% - 20px); background: url('/images/pixel-tree.png') no-repeat; background-size: auto 100%; top: 8px; left: 0; }
.demos-logo:hover { opacity: 1; }
.header span { display: inline-block; font-weight: 500; border-left: 1px solid rgba(0,0,0,0.05); padding-left: 15px; margin-left: 15px; }
.header span:first-child { border-left: 0 none; padding-left: 0; margin-left: 0; }
.dropdown { width: auto; position: relative; width: 85px; height: 50px; cursor: pointer; padding-left: 15px; display: inline-block; }
.dropdown.default-view-dropdown { width: 105px; }
.dropdown .selection { padding-right: 7px; }
.dropdown .selection:after { content: '\E313'; position: absolute; top: 0; right: 0; font-family: 'Material Icons'; font-size: 120%; }
.dropdown ul { position: absolute; margin: 0; padding: 0; top: 50px; left: 0; height: auto; max-height: 0; overflow: hidden; background: white; box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 1px 0 rgba(0,0,0,0.05) inset; z-index: 1000; width: 100%; transition: all 0.3s ease; }
.dropdown:hover ul { max-height: none; }
.dropdown ul li.button { cursor: pointer; display: block; border: 0 none; padding: 15px; opacity: 0.6; line-height: 1.5; transition: all 0.3s ease; }
.dropdown ul li.button:hover { opacity: 1; }
.dropdown ul li.button.active { opacity: 1; text-decoration: underline; }      
input { display: inline-block; margin-left: 10px; -webkit-appearance: none; border: 1px solid rgba(0,0,0,0.1); font-size: 14px; line-height: 30px; width: 50px; text-align: center; outline: 0 none; color: #4A475A; transition: all 0.3s ease; }
input:hover { border-color: rgba(0,0,0,0.2); }
input:focus { border-color: rgba(66,133,244,0.8); }
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { opacity: 1; }
input#platform-url { box-sizing: border-box; padding: 0 10px; width: calc(100% - 205px); max-width: 300px; text-align: left; text-overflow: ellipsis; }
.options-area { display: inline-block; padding-left: 20px; border-left: 1px solid rgba(0,0,0,0.05); }
.options-area span { opacity: 0.8; padding-right: 5px; }

.icon-button { display: inline-block; width: 50px; height: 50px; position: relative; float: right; cursor: pointer; transition: all 0.3s ease; opacity: 0.5; }
.icon-button.active { opacity: 1 !important; }
.icon-button:hover { opacity: 0.7; }
.icon-button i { position: absolute; top: 50%; left: 50%; margin: -12px 0 0 -12px; }

.wrapper { position: absolute; top: 50px; bottom: 0; left: 0; width: 100%; }
body.hidden-header .wrapper { top: 0; }

iframe { border: 0 none; background: white; }
.frame { position: absolute; }
.browser-dimensions { position: absolute; top: 0; right: 0; line-height: 30px; padding: 0 15px; font-family: sans-serif; font-weight: 300; font-size: 15px; color: rgba(75,89,102,0.3); cursor: default; -webkit-user-select: none; display: none; }
.browser-dimensions div { display: inline; }
.frame.browser { top: 50%; left: 50%; margin: -440px 0 0 calc(-1636px / 2); width: 1360px; height: 880px; max-height: 1200px; box-shadow: 0 0 40px rgba(0, 0, 0, 0.1); background: #D2D2D2; border-radius: 10px; overflow: hidden; z-index: 20; transition: all 0.3s ease; }
.frame.browser .browser-bar { position: absolute; height: 30px; padding: 10px 0 0 10px; box-sizing: border-box; }
.frame.browser .browser-bar span { width: 10px; height: 10px; border-radius: 100px; display: block; float: left; margin: 0 4px; }
.frame.browser .browser-bar span.show-dimensions { cursor: pointer; }
.frame.browser iframe { position: absolute; top: 30px; left: 0; width: 100%; height: calc(100% - 30px); }      
.frame.phone { bottom: 50%; right: 50%; margin: 0 calc(-1636px / 2) -470px 0; border-radius: 20px; background: #383838; box-shadow: 0 0 40px rgba(0, 0, 0, 0.2); z-index: 30; width: 406px; height: 680px; transition: all 0.3s ease; }
.frame.phone .phone-camera { background: rgba(255, 255, 255, 0.1); width: 10px; height: 10px; left: 50%; margin: 27px 0 0 -45px; position: absolute; border-radius: 10px; }
.frame.phone .phone-speaker { background: rgba(255, 255, 255, 0.1); width: 14%; height: 8px; left: 50%; margin: 28px 0 0 -7%; position: absolute; border-radius: 10px; }
.frame.phone iframe { position: absolute; bottom: 30px; left: 13px; width: 380px; height: 590px; background: #383838; }
.frame.phone:before { content: ""; top: -50px; position: absolute; width: 100%; height: 50px; pointer-events: none; }
body.minimized-phone .frame.phone { margin-bottom: -100%; }
body.minimized-phone .frame.browser { top: 30px; left: 30px; margin: 0; width: calc(100% - 60px); height: calc(100% - 30px); border-radius: 10px 10px 0 0; }

@media screen and (max-width: 1679px), screen and (max-height: 1000px) {
  .wrapper.scaled { transform: scale(0.9); }
}
@media screen and (max-width: 1559px), screen and (max-height: 950px) {
  .wrapper.scaled { transform: scale(0.75); }
}
@media screen and (max-width: 1279px), screen and (max-height: 800px) {
  .wrapper.scaled { transform: scale(0.6); }
}
@media screen and (max-width: 1023px), screen and (max-height: 660px) {
  .wrapper.scaled { transform: scale(0.5); }
  body.minimized-phone .frame.phone { margin-bottom: -600%; }
}

@media screen and (max-width: 879px) {
  .wrapper.scaled { transform: scale(0.4); }
}


@media screen and (max-width: 699px) {
  .wrapper.scaled { transform: scale(0.25); }
  .header span { display: none; }
}

@media screen and (max-width: 459px) {
  .wrapper.scaled { transform: scale(0.2); }
}